.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-link {
  color: #61dafb;
  
}

.header{
  background-color: #1f2535;
}
.main-section {
    background-color: #1f2535;
    color: #fefefe;
    padding: 20px 50px 35px ;
    height: 400px; 
    
}
.main-section > p {
  font-size: 20px; 
  font-weight: lighter;
  width: 300px;
}
.main-section > button {
  margin-top: 40px;
  font-size: 20px; 
  padding: 20px 30px 35px;
}

.main-section > h1 {
  margin-bottom: 10px;
  font-size: 60px; 
  width: 300px;
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


